
<center>
  <h1 style = "font-family: 'Source Sans Pro', sans-serif;">Longitude & Latitude Locator</h1>
<form action="/location"method="GET">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Latitude</label>
  <input name = 'lat'type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Here">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Longitude</label>
  <input name ='lon'type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Here"
  ">
</div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</center>
