<h1 style = "font-family: 'Source Sans Pro', sans-serif;">Welcome to the website!</h1>
<form action="/location"method="GET">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Latitude</label>
    <input name='lat'type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
  <label for="exampleInputEmail2" class="form-label">Longitude</label>
    <input name='lon'type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>